#carousel {
    --aspect-ratio: 1400/800;
    --border-radius: 2rem;
    --buttons-bg: light-dark(var(--light), var(--dark));
    --buttons-color: light-dark(var(--grey-dark), var(--light));
    --tabs-bg: light-dark(var(--dark), var(--light));
    --tabs-color: light-dark(var(--primary-dark), var(--primary-light));
    position: relative;
    width: 100%;
    margin: 1rem 0 2rem;
}

/* ITEMS */
.carousel {
    position: relative;
    aspect-ratio: var(--aspect-ratio);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.carousel__wrap {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left var(--transition-time-normal) ease;
}

.no-transition {
    transition: none !important;
}

.carousel__item {
    flex: 0 0 100%;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* CONTROLS */
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    background-color: var(--buttons-bg);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    opacity: 0.5;
    transition: opacity var(--transition-time-normal) ease, background-color var(--transition-time-normal) ease;

    &:is(:hover, :focus-visible) {
        opacity: 1 !important;
    }

    &.prev {
        left: 8px;
    }

    &.next {
        right: 8px;
    }

    & svg {
        width: 100%;
        height: 100%;

        & .path-prev,
        .path-next {
            fill: none;
            stroke: var(--buttons-color);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 50;
            transition: stroke var(--transition-time-normal) ease;
        }
    }
}

#carousel:is(:hover, :has(:focus-visible)) .carousel-controls {
    opacity: 0.75;
}

/* TABS */
.carousel__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    width: 100px;
    height: 1rem;
    transform: translate(-50%, 150%);

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.carousel__tab {

    & span {
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--tabs-bg);
        opacity: 0.4;
        transform: translate(-50%, -50%);
        transition: opacity var(--transition-time-normal) ease, height var(--transition-time-normal) ease, width var(--transition-time-normal) ease, background-color var(--transition-time-normal) ease;
    }

    &.current>span {
        background-color: var(--tabs-color);
        width: 8px;
        height: 8px;
        opacity: 1;
    }
}

@media (pointer: coarse) {
    .carousel-controls {
        display: none;
    }
}