header {
    --header-height: 3.5rem;
    --header-border: 2px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(var(--header-height) + var(--header-border));
    padding: 0.5rem;
    border-bottom: var(--header-border) solid light-dark(var(--primary-dark), var(--primary-light));
    z-index: 1000;
    backdrop-filter: blur(64px);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: light-dark(var(--lighter), var(--dark));
        opacity: 0.5;
    }

    & .logo {
        height: 100%;
        transform: translateY(-200%);
        transition: transform 0.25s ease;

        & path {
            fill: light-dark(var(--primary-dark), var(--primary-light));
        }
    }
}

#toggle-theme_btn {
    display: block;
    width: calc(var(--header-height) - 1rem);
    height: calc(var(--header-height) - 1rem);
    aspect-ratio: 1/1;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: light-dark(var(--primary-dark), var(--primary-light));
    cursor: pointer;
}

.main-path {
    fill: light-dark(var(--light), var(--dark));
    transition: all 0.25s ease;
    transform-origin: center center;
}

.sunbeam {
    stroke: light-dark(var(--light), var(--dark));
    stroke-width: 1.25;
    stroke-linecap: round;
    transform: rotate(calc(var(--index) * 45deg));
    transform-origin: 50% 50%;
    transition: all 0.25s ease;
}

body.light {
    & .main-path {
        d: path("M 25 11 C 18 13 17 18 17 20 C 17 22 18 27 25 29 C 21 32 10 30 10 20 C 10 10 21 8 25 11");
        transform: rotate(-25deg) translateX(0.0625rem);
    }

    & .sunbeam {
        stroke-width: 0;
        d: path('M20 20 V20');
    }
}

body.dark {
    & .main-path {
        d: path("M 25 20 C 25 20 25 20 25 20 C 25 20 25 20 25 20 C 25 27 15 27 15 20 C 15 13 25 13 25 20");
        transform: rotate(0);
    }

    & .sunbeam {
        d: path('M20 10 V14');
    }
}

.hero {
    background-color: light-dark(var(--lighter), var(--dark));
    min-height: 100vh !important;
    padding-bottom: 0.5rem;

    & .container {
        padding: 4rem 0;
        display: grid;
        place-items: center;
    }

    & h1,
    p {
        width: 100%;
    }
}

.name {
    display: block;
    padding: 0.25rem 0;
    max-width: 20rem;
    line-height: 0rem;
    transition: stroke 0.25s ease, fill 0.25s ease;

    /* 1 */
    & path {
        fill: transparent;
        stroke: light-dark(var(--primary-dark), var(--primary-light));
        stroke-width: 2;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: drawName 2.5s forwards;
    }
}

@keyframes drawName {
    0% {
        stroke-dashoffset: 1000;
    }

    80%,
    100% {
        stroke-dashoffset: 0;
    }

    100% {
        fill: light-dark(var(--primary-dark), var(--primary-light));
    }
}

#simplenote {
    position: relative;
}

footer {
    position: relative;
    background-color: light-dark(var(--lighter), var(--dark));
}

.contact-menu {
    position: relative;
    padding: 0 0.5rem 2rem;

    & li {
        display: flex;
        width: 3rem;
        height: 3rem;

        & a {
            display: block;
            padding: 0.3125rem;
            font-weight: bolder;
            text-decoration: none;
            background-color: light-dark(var(--primary-dark), var(--primary-light));
            border-radius: 50%;

            & .icon {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                transition: transform 0.25s ease;

                &:is(.linkedin, .codepen) {
                    fill: light-dark(var(--light), var(--dark));
                    stroke-width: 0;
                }

                &:is(.email, .github) {
                    stroke: light-dark(var(--light), var(--dark));
                }
            }

            &:hover .icon {
                transform: scale(1.1);
            }
        }
    }
}